body{
     background:#050816;
    font-family: Arial;
    text-align: center;
}

h1{
     font-size: 50px;
    margin-top: 70px;
    color: #ff9101;
}



.logo {
    display: flex;
    align-items: center;
    gap: 8px;
     font-size:28px;
    font-weight:bold;
    color: #ff9101;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 50%;
    transform: translateY(7px);
}  

.atas{
    display:flex;
    list-style:none;
    gap: 40px;
     margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.atas a{
    text-decoration:none;
    color:#ff9101;
    font-weight:500;
    position: relative;
}

.atas a{
    text-decoration:none;
    color:#ff9101;
    font-weight:500;
    position: relative;
}

.atas a:hover{
    color:#ff9101;
}

.atas a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;

    width: 0;
    height: 2px;

    background: #ff9101;
    transition: 0.3s;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
}
.atas a:hover::after{
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

img{
    width: 225px;
    border-radius: 20px;
    margin-bottom: 20px ;
    box-shadow:0 0 25px rgb(255, 136, 0);
}

p{
    font-size: 30px;
    color: #ff9101;
}

h2{
    color: #ff9101;
    font-size: 20px;
}

.wali-kelas{
 width: 300px;
    padding: 20px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
    margin-left: 535px;
}

.wali-kelas img{
     width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.ketua-kelas {
    width: 300px;
    padding: 20px;
    margin-left: 200px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
}

.ketua-kelas img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.wakil-ketua-kelas {
    width: 300px;
    padding: 20px;
    margin-left: 870px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
    margin-top: -330px;
}

.wakil-ketua-kelas img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.bendahara{
     width: 300px;
    padding: 20px;
    margin-left: 200px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
}

.bendahara img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h3{
    color: #ff9101;
}

.sekretaris{
     width: 300px;
    padding: 20px;
   margin-left: 870px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
    margin-top: -370px;
}

.sekretaris img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.keamanan{
   width: 300px;
    padding: 20px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
    margin-left: 535px;
}

.keamanan img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.jadwal {
    padding: 60px 20px;
      background:#050816;
}

.jadwal h2 {
    text-align: center;
    margin-bottom: 30px;
}

.jadwal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.jadwal-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
}

.jadwal-card h3 {
    text-align: center;
    margin-bottom: 20px;
}

.jadwal-item {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.jadwal-item span {
    min-width: 95px;
    font-weight: bold;
}

.jadwal-item p {
    margin: 0;
}

@media (max-width: 600px) {
    .jadwal-container {
        grid-template-columns: 1fr;
    }

    .jadwal {
        padding: 40px 15px;
    }

    .jadwal-card {
        padding: 20px;
    }

    .jadwal-item {
        font-size: 14px;
    }
}

.Prestasi img{
width: 600px ;
}

.pencipta{
   width: 300px;
    padding: 20px;
    background: #1f2937;
    color: white;
    border-radius: 16px;
    text-align: center;
    margin-left: 500px;
}

.pencipta img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}